.item {
	color: #25A4F1;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
	row-gap: 10px;
}

.item img {
	width: 30px;
	height: 30px;
    border-radius: 100%;
}
