.navbar {
	grid-area: n;
	background: linear-gradient(to bottom, #2C323C, #303741 10%);  
	padding: 40px 20px;
	border-radius: 0 0 0 10px;
}

.item {
	position: relative;
}

.item a{
	color: #878B90;
	text-decoration: none;
	display: flex;
    align-items: center;
	margin-bottom: 20px;
}

.item a.active {
	color: #25A4F1;
}

.item a.active svg {
	fill: #25A4F1;
}

.svg {
	fill: #646871;
	margin-right: 20px;
}