.descriptionBlock {
	padding: 10px;
	width: 100%;
	background-color: #303741;
	border-radius: 10px;
}
.photo {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100%;
	margin: 10px auto 10px;
	cursor: pointer;
}

img {
	width: 100%;
}	

.wrapperInput {
	text-align: center;
}

.inputFile {
	display: none;
}