.descriptionBlock {
	padding: 10px;
	width: 100%;
	background-color: #303741;
	border-radius: 10px;
}
.photo {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100%;
	margin: 10px auto 10px;
	cursor: pointer;
}

img {
	width: 100%;
}	

.wrapperInput {
	text-align: center;
}

.inputFile {
	display: none;
}

.inputFileButton {
	background-color: #48B2F4;
	border-radius: 10px;
    padding: 2px 15px;
    font-size: 11px;
	color: #B7E1FA;
	cursor: pointer;
}