.item {
	color: #25A4F1;
	padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(72 178 244);
	margin-bottom: 20px;
	display: grid;
    grid-template-columns: 65px 1fr 1fr;
}

.item img {
	width: 50px;
	border-radius: 100%;
}

.message {
	grid-column: 2/4;
	align-self: center;
}
